
<table style="font-size:1.2em">
	<tr>
		<td><p><strong>
		A Cul de Sax Inquiry has been received:</strong></p><p></p>
		</td>
	</tr>
	<tr>
		<td><p>
			<u>Name:</u> <%= @inquiry_form.name %>
			</p><p></p>
		</td>
	</tr>
	<tr>
		<td><p>
			<u>Email:</u> <%= @inquiry_form.email%>
			</p><p></p>
		</td>
	</tr>
	<tr>
		<td><p>
			<u>Phone:</u> <%= @inquiry_form.phone%>
			</p><p></p>
		</td>
	</tr>
	<tr>
		<td><p>
			<u>Performance Date(s):</u> <%= @inquiry_form.performance_dates%>
			</p><p></p>
		</td>
	</tr>
	<tr>
		<td><p>
			<u>Location(s):</u> <%= @inquiry_form.locations%>
			</p><p></p>
		</td>
	</tr>
	<tr>
		<td><p>
			<u>Budget:</u> <%= @inquiry_form.budget%>
			</p><p></p>
		</td>
	</tr>
	<tr>
		<td><p>
			<u>Event Type:</u> <%= @inquiry_form.event_type%>
			</p><p></p>
		</td>
	</tr>
	<tr>
		<td><p>
			<u>Additional Comments:</u> <%= @inquiry_form.additional_comments%>
			</p><p></p>
		</td>
	</tr>
</table>
